@charset "UTF-8";
.containerCalcu {
  width: 225px;
  height: 324px;
  background-color: #3B3D37;
  margin: 100px auto;
  border-radius: 3px;
  position: relative; }
  .containerCalcu .headerCalcu {
    display: flex;
    margin-top: 2px; }
    .containerCalcu .headerCalcu [class*=btn] {
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background-color: #fff;
      margin: 5px 0 0 10px; }
    .containerCalcu .headerCalcu .btn1 {
      background-color: #ff5250; }
    .containerCalcu .headerCalcu .btn2 {
      background-color: #ffbb41; }
    .containerCalcu .headerCalcu .btn3 {
      background-color: #0bc84d; }
  .containerCalcu .calculate, .containerCalcu .tab {
    width: 225px;
    height: 300px;
    background-color: #3a3b38;
    margin-top: 5px;
    border-radius: 0 0 3px 3px;
    position: absolute; }
    .containerCalcu .calculate .count, .containerCalcu .tab .count {
      width: 215px;
      height: 50px;
      padding: 0 15px 5px 0;
      color: #FFFFFF;
      text-align: right;
      font-size: 45px;
      font-weight: 200; }
    .containerCalcu .calculate .key-board, .containerCalcu .tab .key-board {
      width: 225px;
      height: 245px;
      display: flex;
      flex-wrap: wrap; }
      .containerCalcu .calculate .key-board [class*=key], .containerCalcu .tab .key-board [class*=key] {
        box-sizing: content-box;
        width: 55px;
        height: 48px;
        border-bottom: 1px solid #444542;
        border-right: 1px solid #444542;
        border-collapse: collapse;
        font-size: 20px;
        line-height: 48px;
        text-align: center;
        background-color: #747574;
        color: #FFFFFF; }
        .containerCalcu .calculate .key-board [class*=key]:active, .containerCalcu .tab .key-board [class*=key]:active {
          background-color: #878887; }
      .containerCalcu .calculate .key-board .key1, .containerCalcu .tab .key-board .key1, .containerCalcu .calculate .key-board .key5, .containerCalcu .tab .key-board .key5, .containerCalcu .calculate .key-board .key9, .containerCalcu .tab .key-board .key9, .containerCalcu .calculate .key-board .key13, .containerCalcu .tab .key-board .key13, .containerCalcu .calculate .key-board .key17, .containerCalcu .tab .key-board .key17 {
        border-left: 1px solid #444520; }
      .containerCalcu .calculate .key-board .key4, .containerCalcu .tab .key-board .key4, .containerCalcu .calculate .key-board .key8, .containerCalcu .tab .key-board .key8, .containerCalcu .calculate .key-board .key12, .containerCalcu .tab .key-board .key12, .containerCalcu .calculate .key-board .key16, .containerCalcu .tab .key-board .key16, .containerCalcu .calculate .key-board .key19, .containerCalcu .tab .key-board .key19 {
        background-color: #e6a044;
        font-size: 30px;
        font-weight: 300; }
        .containerCalcu .calculate .key-board .key4:active, .containerCalcu .tab .key-board .key4:active, .containerCalcu .calculate .key-board .key8:active, .containerCalcu .tab .key-board .key8:active, .containerCalcu .calculate .key-board .key12:active, .containerCalcu .tab .key-board .key12:active, .containerCalcu .calculate .key-board .key16:active, .containerCalcu .tab .key-board .key16:active, .containerCalcu .calculate .key-board .key19:active, .containerCalcu .tab .key-board .key19:active {
          background-color: #ffb350; }
      .containerCalcu .calculate .key-board .key17, .containerCalcu .tab .key-board .key17 {
        width: 111px;
        border-radius: 0 0 0 3px; }
      .containerCalcu .calculate .key-board .key1, .containerCalcu .tab .key-board .key1, .containerCalcu .calculate .key-board .key2, .containerCalcu .tab .key-board .key2, .containerCalcu .calculate .key-board .key3, .containerCalcu .tab .key-board .key3 {
        background-color: #585858; }
        .containerCalcu .calculate .key-board .key1:active, .containerCalcu .tab .key-board .key1:active, .containerCalcu .calculate .key-board .key2:active, .containerCalcu .tab .key-board .key2:active, .containerCalcu .calculate .key-board .key3:active, .containerCalcu .tab .key-board .key3:active {
          background-color: #696969; }
      .containerCalcu .calculate .key-board .key19, .containerCalcu .tab .key-board .key19 {
        border-radius: 0 0 3px 0; }
  .containerCalcu .tab {
    display: none;
    z-index: 10; }

/*loading 动画*/
.loading {
  width: 200px;
  height: 200px;
  margin: 100px auto;
  position: absolute;
  top: -25px;
  left: 10px;
  animation: test 1s;
  animation-iteration-count: 2;
  animation-timing-function: linear; }
  .loading [class*=item] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    right: 0;
    bottom: 0;
    left: 20px;
    margin: auto; }

.item-1 {
  transform: rotate(60deg);
  transform-origin: -50% -50%;
  background-color: rgba(60, 63, 65, 0.2); }

.item-2 {
  transform: rotate(120deg);
  transform-origin: -50% -50%;
  background-color: rgba(60, 63, 65, 0.4); }

.item-3 {
  transform: rotate(180deg);
  transform-origin: -50% -50%;
  background-color: rgba(60, 63, 65, 0.6); }

.item-4 {
  transform: rotate(240deg);
  transform-origin: -50% -50%;
  background-color: rgba(60, 63, 65, 0.8); }

.item-5 {
  transform: rotate(300deg);
  transform-origin: -50% -50%;
  background-color: #3c3f41; }

.item-6 {
  transform: rotate(360deg);
  transform-origin: -50% -50%;
  background-color: #3c3f41; }

@keyframes test {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

/*# sourceMappingURL=index.css.map */
