#table{
    margin: 10px auto;
    width:760px;
    border-spacing: 0;
    text-align: center;
}

#thead{
    background-color: #eee;
}

td{
    height: 50px;
    font-size: 20px;
    border-bottom: 1px solid #eee;
}